body {
  padding: 20px 0;
  font-family: 'Jura', sans-serif;
}

a {
  color: #00B7FF;
}
body .alert-success {
  text-align: center;
  border: 1px solid #b4d8a5;
  border-radius: 0;
}
.container {
  max-width: 960px;
}
.container .companies {
    margin-top: 20px;
}
body h2.section-title {
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #b4d8a5;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #dff0d8;
  border-left: 1px solid #b4d8a5;
}
#seachInput {
  height: 40px;
  border-radius: 0px;
  font-size: 15px;
}
.company.row {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.logo.col-md-2.center-block {
  float: left;
  padding: 0;
  border: 1px solid #efecec;
  height: 100px;
  width: 100px;
}
img.d-block.mx-auto.logo {
  max-width: 100%;
  padding: 5px;
}
.logo.col-md-2.center-block a {
  vertical-align: middle;
  display: table-cell;
  height: 100px;
}
.fa-lg {
  font-size: 13px;
  line-height: .75em;
  color: #6f6969;
  padding-right: 10px;
}